[data-theme="dark"] {
  --primary-color: #ffb601;
  --secondary-color: #272d33;
  --background-color: #000000;
  --heading-color: #ffb601;
  --text-color: #fff;
  --icon-color: red;
  --navbar-bg: linear-gradient(
    90deg,
    rgba(228, 226, 226, 1) 18%,
    rgba(188, 186, 186, 1) 73%,
    rgba(235, 235, 249, 1) 83%
  );
}
[data-theme="light"] {
  --primary-color: #ffb601;
  --secondary-color: #272d33;
  --background-color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(244, 241, 241, 1) 50%,
    rgba(237, 237, 240, 1) 86%
  );
  --heading-color: #272d33;
  --text-color: #272d33;
  --icon-color: orange;
  --navbar-bg: linear-gradient(
    90deg,
    rgba(203, 210, 237, 1) 21%,
    rgba(187, 145, 216, 1) 51%,
    rgba(212, 212, 238, 1) 81%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
b {
  font-family: "Geologica", sans-serif;
}

p,
a,
label {
  font-family: "Open Sans", sans-serif;
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200vh;
  background: var(--background-color);
}
