.navbar {
  background: var(--navbar-bg) !important;
  position: fixed;
  top: 7%;
  width: 100%;
  padding: 10px 20px;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}
.scrolled {
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 10%,
    rgba(145, 140, 140, 1) 49%,
    rgba(30, 30, 32, 1) 83%
  );
  color: var(--text-color) !important;
  position: fixed;
  top: 0%;
  transition: 0.3s;
}

.scrolled .nav-link {
  color: #fff;
}
.nav-link {
  padding: 18px 14px;
  color: var(--text-color);
}

.scrolled .active {
  color: #03a9f4;
}
.active {
  color: var(--icon-color) !important;
}
.nav-link {
  padding: 10px 24px;
}
.top__header .top__links ul {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-brand {
  color: var(--icon-color);
}
.top__header .top__links ul li {
  padding: 10px 14px;
}
.top__header .top__links ul li a i {
  font-size: 16px;
  color: var(--icon-color);
}
.top__header .location {
  display: flex;
  justify-content: end;
  align-items: center;
}
.top__header .location i {
  color: var(--icon-color);
  margin-right: 1rem;
}
.top__header .location p {
  margin: 10px 0rem;
  color: var(--text-color);
}

.search__box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top__title {
  text-align: center;
}
.top__title h4 {
  margin: 10px 0rem;
  color: var(--heading-color);
}

.search__form {
  width: 60%;
  display: flex;
}

.search__form input {
  border-radius: 10px 0px 0px 10px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #000;
  width: 100%;
  padding: 6px 14px;
  position: relative;
}
.recommendation {
  position: absolute;
  width: 82%;
  border-radius: 0px 0px 4px 4px;
  left: 15%;
  background: linear-gradient(
    90deg,
    rgba(203, 210, 237, 1) 21%,
    rgba(187, 145, 216, 1) 51%,
    rgba(212, 212, 238, 1) 81%
  );
  top: 100%;
}
.recommendation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.recommendation ul li {
  padding: 10px 15px;
}
.recommendation ul li a {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.search__button {
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}
.dropdown-item {
  padding: 7px 21px;
}
.dropdown-item i {
  color: var(--icon-color);
  margin-right: 8px;
}
select {
  border-radius: 10px 0px 0px 10px !important;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #000 !important;
  padding: 6px 14px;
}
.searchProducts {
  margin-top: 7rem;
}
.shop__icon {
  position: relative;
}
.shop__icon i {
  font-size: 28px;
}
.shop__icon p {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  left: 22px;
  top: 9px;
  color: #fff;
  margin: 0;
}
.toggleTheme {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 25%;
  right: 2px;
  background-color: var(--icon-color);
  border-radius: 15px 0px 0px 15px;
  padding: 3px 4px;
}
.toggleTheme i {
  margin-right: 10px;
  color: var(--navbar-bg);
}
.toggleTheme input {
  width: 40px !important;
  height: 20px;
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
.form-check-input:checked {
  background-color: black;
  border-color: none !important;
}
.form-check-input:focus {
  border-color: none !important;
}
