.products .card {
  width: 100%;
  height: 55vh;
  margin-bottom: 2rem;
  background-color: var(--card-color);
}
.categoryProducts {
  margin-top: 8rem;
}
.card img {
  width: 100%;
  object-fit: contain;
  height: 30vh;
}
.product__image img {
  width: 100%;
  height: 50vh;
}

.card-body {
  border-top: 1px solid #3c3b3b;
}
.card .card-title {
  font-size: 17px;
  margin-bottom: 1rem;
  color: var(--heading-color);
}
.tag {
  color: #000000;
  font-size: 15px;
  color: var(--heading-color);
}
.single__product {
  margin-top: 7rem;
  width: 100%;
  height: 80vh;
}

.reviews h3 {
  margin: 2rem 0rem;
}
.reviews ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews ul li {
  display: flex;
  justify-content: start;
  margin: 1rem 2rem;
}
.reviews ul li .user__info {
  font-size: 16px;
  margin-right: 1rem;
}
.on {
  color: gold;
}

.off {
  color: lightgray;
}
